.quran-page {
  height: 690px;
  width: 475px;
  position: relative;


  &__img {
    width: 456px;
    @media screen and (max-width: 960px) {
      width: auto;
    }
  }

  @media screen and (max-width: 960px) {
    width: auto;
  }
}

.page-content {
  width: 475px;
  height: 690px;

  @media screen and (max-width: 960px) {
    width: auto;
  }
}
